#header-section {

}

#slider-section {
  position: relative;
  height: 80vh !important;
}

#feature-section-top {
  @include clearfix;
  padding: 10rem 0;

  @include respond(common-phone) {
    padding: 2rem 0;
  }

  @include respond(phone) {
    padding: 1rem 0;
  }
}

#studio-section {
  @include clearfix;
  padding: 5rem 0;

  @include respond(common-phone) {
    padding: 2rem 0;
  }

  @include respond(phone) {
    padding: 1rem 0;
  }
}

#studio-section .container-fluid {
  padding: 0!important;
}
