.carousel {
  height: 80vh !important;
  background: linear-gradient(
                  to right bottom,
                  rgba($color-black, 0.5),
                  rgba($color-black, 0.5)) !important;

  @include respond(common-phone) {
    height: 50vh !important;
  }
}

.carousel-inner img {
  height: 80vh !important;
  width: 100% !important;

  opacity: .9;

  @include respond(common-phone) {
    height: 50vh !important;
  }
}
